//-----------------------------------------------------------
// GRIDS
//-----------------------------------------------------------
.grid {
  @include flexbox;
  @include flex-wrap(wrap);

  &.align-top { // Pull items to top
    @include align-items(flex-start);
  }

  &.align-middle { // Pull items to middle
    @include align-items(center);
  }

  &.align-bottom { // Pull items to bottom
    @include align-items(flex-end);
  }

  &.align-stretch { // Stretch items
    @include align-items(stretch);
  }

  &.align-baseline { // Pull items to baseline
    @include align-items(baseline);
  }

  &.justify-left { // Layout items to left
    @include justify-content(flex-start);
  }

  &.justify-center { // Layout items To center
    @include justify-content(center);
  }

  &.justify-right { // Layout items to right
    @include justify-content(flex-end);
  }

  &.justify-between { // Add spaces between items
    @include justify-content(space-between);
  }

  &.justify-around { // Add spaces around items
    @include justify-content(space-around);
  }
}

.cell {
  @include box-sizing(border-box);
  @include flex-shrink(0);

  .fill { // Set item width to left
    width: 0;
    min-width: 0;
    @include flex-grow(1)
  }

  .cell-one {
    width: calc(100% * 1 / 12);
  }

  .cell-two {
    width: calc(100% * 2 / 12);
  }

  .cell-three {
    width: calc(100% * 3 / 12);
  }

  .cell-four {
    width: calc(100% * 4 / 12);
  }

  .cell-five {
    width: calc(100% * 5 / 12);
  }

  .cell-six {
    width: calc(100% * 6 / 12);
  }

  .cell-seven {
    width: calc(100% * 7 / 12);
  }

  .cell-eight {
    width: calc(100% * 8 / 12);
  }

  .cell-nine {
    width: calc(100% * 9 / 12);
  }

  .cell-ten {
    width: calc(100% * 10 / 12);
  }

  .cell-eleven {
    width: calc(100% * 11 / 12);
  }

  .cell-twelve {
    width: 100%;
  }
}
