//-----------------------------------------------------------
// BASE
//-----------------------------------------------------------
// Set box-sizing globally
*,
*:after,
*:before {
	@include box-sizing(inherit);
}

html {
	@include box-sizing(inherit);
	font-size: 100%
}

body {
	background-color: $dark-color;
	color: $light-color;
	font-family: $primary-font-regular;
	font-weight: 400;
	@include font-size(16px);
	line-height: 1.6;
}




//-----------------------------------------------------------
// BLOCKQUOTE
//-----------------------------------------------------------
blockquote {
	border-left: 4px solid $dark-color;
	margin-left: 0;
	margin-right: 0;
	padding: 1rem 1.5rem;

	*:last-child {
		margin-bottom: 0;
	}
}




//-----------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	width: 100%;
	height: 50px;
	padding: 0;

	background-color: $accent-color;
	border: none;
	outline: none;

	color: $light-color;

	font-family: $primary-font-bold;
	@include font-size(14px);
	text-align: center;
	text-transform: uppercase;
	line-height: 14px;
	cursor: pointer;
	white-space: nowrap;
	@include transition (all 0.2s ease);

	&:hover,
	&:focus {
		background-color: $light-color;
		color: $accent-color;
		outline: none;
	}

	&[disabled] {
		cursor: default;
		@include opacity(0.4);

		&:focus,
		&:hover {
			background-color: $light-color;
		}
	}

	&.button-outline {
		background-color: transparent;
		border-color: $dark-color;
		color: $dark-color;

		&:hover,
		&:focus {
			background-color: transparent;
			border-color: $light-color;
			color: $light-color;
		}

		&[disabled] {
			&:focus,
			&:hover {
				border-color: inherit;
				color: $dark-color;
			}
		}
	}

	&.button-clear {
		background-color: transparent;
		border-color: transparent;
		color: $dark-color;

		&:focus,
		&:hover {
			background-color: transparent;
			border-color: transparent;
			color: $accent-color;
		}

		&[disabled] {
			&:focus,
			&:hover {
				color: $dark-color;
			}
		}
	}
}




//-----------------------------------------------------------
// CODE
//-----------------------------------------------------------
code {
	margin: 0 4px;
	padding: 4px 8px;
	background-color: $dark-color;
	@include border-radius(4px);
	@include font-size(14px);
	white-space: nowrap;
}

pre {
	background-color: $dark-color;
	border-left: 4px solid $accent-color;
	overflow-y: hidden;

	& > code {
		display: block;
		padding: 16px 24px;
		@include border-radius(0px);
		white-space: pre;
	}
}




//-----------------------------------------------------------
// DIVIDER
//-----------------------------------------------------------
hr {
	margin: 48px 0;
	border: 0;
	border-top: 1px solid $dark-color;
}




//-----------------------------------------------------------
// FORMS
//-----------------------------------------------------------
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
	@include appearance(none); // removes default styles on some iOS inputs
	width: 100%;
	height: 48px;
	margin-bottom: 40px;
	background-color: transparent;
	border: none;
	border: 1px solid $light-color;
	@include border-radius(4px);
	color: $accent-color;
	outline: none;

	@include box-sizing(inherit);
	@include box-shadow(0, 0, 0, transparent);

	font-family: $primary-font-regular;
	@include font-size(16px);
	@include transition (all 0.2s ease);

	&:focus {
		border-bottom: 1px solid $accent-color;
		outline: 0;
	}
}

textarea {
	padding: 8px 0;
	resize: none;
}

select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
	padding-right: 48px;

	&:focus {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
	}
}

label,
legend {
	display: block;
	@include font-size(16px);
	font-weight: 400;
	margin-bottom: 8px;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;
}

.label-inline {
	display: inline-block;
	margin-left: 8px;
	font-weight: 400;
}




//-----------------------------------------------------------
// IMAGES
//-----------------------------------------------------------
img {
	display: block;
	max-width: 100%;
}




//-----------------------------------------------------------
// LINKS
//-----------------------------------------------------------
a {
	color: $accent-color;
	outline: none;
	text-decoration: none;
	@include transition (all 0.2s ease);

	&:hover,
	&:focus {
		color: $light-color;
	}
}




//-----------------------------------------------------------
// LISTS
//-----------------------------------------------------------
dl,
ol,
ul {
	padding-left: 0;
	margin-top: 0;
	list-style: none;

	dl,
	ol,
	ul {
		font-size: 90%;
		margin: 24px 0 24px 48px;
	}
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}




//-----------------------------------------------------------
// SELECTION
//-----------------------------------------------------------
::-moz-selection {
	background-color: $accent-color;
}

::selection {
	background-color: $accent-color;
}




//-----------------------------------------------------------
// SPACING
//-----------------------------------------------------------
.button,
button,
dd,
dt,
li {
	margin-bottom: 16px;
}

fieldset,
input,
select,
textarea {
	margin-bottom: 24px;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
	margin-bottom: 40px;
}




//-----------------------------------------------------------
// TABLES
//-----------------------------------------------------------
table {
	border-spacing: 0;
	width: 100%;
}

th,
td {
	border-bottom: 1px solid $dark-color;
	padding: 16px 24px;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}




//-----------------------------------------------------------
// TYPOGRAPHY
//-----------------------------------------------------------
p {
	margin-top: 0;
}

b,
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	@include font-size(14px);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 32px;
	font-weight: 300;
	letter-spacing: -0.1rem;
}

h2 {
	margin-bottom: 20px;
	font-family: $primary-font-extra;
	@include font-size(48px);
	line-height: 1.2;
}

h3 {
	margin-bottom: 20px;
	font-family: $primary-font-extra;
	@include font-size(36px);
	line-height: 1.3;
}

h4 {
	color: rgba($light-color, 0.5);
	font-family: $primary-font-bold;
	@include font-size(14px);
	line-height: 1.35;
}

h5 {
	font-family: $primary-font-bold;
	@include font-size(16px);
	line-height: 1.5;
}

h6 {
	font-family: $primary-font-light;
	@include font-size(16px);
	line-height: 1.5;
}

@media (min-width: 640px) {
	/*h1 {
		font-size: 5.0rem;
	}

	h2 {
		font-size: 4.2rem;
	}

	h3 {
		font-size: 3.6rem;
	}

	h4 {
		font-size: 3.0rem;
	}

	h5 {
		font-size: 2.4rem;
	}

	h6 {
		font-size: 1.5rem;
	}*/
}




//-----------------------------------------------------------
// UTILITIES
//-----------------------------------------------------------
.clearfix {
	clear: both;
}

.float-left {
	float: left
}

.float-right {
	float: right
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}
