//-----------------------------------------------------------------------------
/* THEMING */
//-----------------------------------------------------------------------------
body {
  background-image: url(../images/bg.png);
  background-size: contain;
}

// Main Container
.main-container {
  max-width: $max-width;
  margin: $margin-auto;
}



// Grid/Layout
.grid {
  @include flexbox;
  @include flex-wrap(wrap);
}

.col {
  flex: 1;
  padding: 0 15px;
}




// Sections
section {
  margin: 240px 0;
}

.section-header {
  margin-bottom: 60px;
}




// Main Header
// Navigation
nav {
  margin-top: 80px;
  font-family: $primary-font-bold;
  @include font-size(14px);
  text-transform: uppercase;

  .col {
    &:first-child {
      @include flex(none);
      width: 30%;
    }

    &:last-child {
      @include flex(none);
      width: 70%;
    }
  }

  img {
    min-width: 176px;
  }

  ul {
    text-align: right;

    li {
      margin-left: 40px;

      a {
        color: $light-color;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}




// Intro
.intro {
  width: 50%;
  margin-top: 160px;

  form {
    display: flex;
    margin-top: 40px;
  }
}




// Features
.feature {
  @include flex(0 0 calc(100% / 12 * 4));
  margin-bottom: 40px;

  img {
    margin-bottom: 20px;
  }

  h5 {
    margin-bottom: 10px;
  }
}




// Footer
.main-footer {
  margin: 40px 0;
  @include font-size(12px);

  .col {
    @include flex(0 0 calc(100% / 12 * 4));
  }

  ul {
    text-align: right;

    li {
      margin-left: 10px;
    }

    svg {
      fill: $accent-color;
      @include transition (all 0.2s ease);

      &:hover {
        fill: $light-color;
      }
    }
  }
}




// Media Queries
@media only screen and (max-width: 800px) {
  .section-header {
    .col {
      @include flex(none);
      width: 100%;
    }
  }

  section {
    margin: 160px 0;
  }

  nav {
    margin-top: 40px;
  }

  .intro {
    width: 100%;
  }

  #about,
  #contact {
    .col {
      @include flex(none);
      width: 100%;
    }
  }

  #features {
    .feature {
      @include flex(none);
      width: 50%;
    }
  }

  .main-footer {
    .col {
      @include flex(none);
      margin-top: 20px;
      width: 100%;
      text-align: center;
    }

    ul {
      text-align: center;

      li {
        margin: 0 10px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #features {
    .feature {
      width: 100%;
    }
  }

  nav {
    .col {
      width: 100% !important;
    }

    ul {
      margin-top: 20px;
      text-align: left;

      li {
        margin-right: 20px;
        margin-left: 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    @include font-size(36px);
  }
}
